# ignore all log files
**/*.log
# ignore the whole user manual
User_Manual/
# all txt files that include a "-"
**/*-*.txt
# the styles.css file
styles.css
# all srs files besides the final version
**/SRS_v*
# all the SDD files besides the final version
**/SDD_v*
# any README files not in the root directory
/**/ README.md